include ../../common/common.pug

mixin page(title, description, kaomoji)
  head
    +head-main(title)
    style: :stylus(compress=true)
      @require '../../common/common'
      body
        text-align center
      .face
        font-size 3em
        font-weight bold

  body
    .face= kaomoji
    h1= title
    p= description

    if block
      block

    :markdown-it
      — [Paul Nechifor](/)

    small
      +simple-footer-links()
