doctype html
include ../../../../common/common.pug

html(lang='en')
  head
    +head-main(
      'Blog',
      '...'
    )
    style: :stylus(compress=true)
      @require '../../../../common/common'
      page-width-600()
  body
    header: h1: a(href=".") Blog

    section: :markdown-it
      TODO

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/pages/pages/assembly-cheat-sheet/index.pug')
