doctype html
include ../../object.pug
include ../../common.pug
html(lang='en')
  +default-head(info)
  body
    +default-header(info, true)

    img.text-width-size(src="../images/nechica-c2/hero.png")

    section: :markdown-it
      As an amateur camera maker one is often insecure about what even
      constitutes a “self made camera”. Can I really say “I made this camera” if
      the lens, the shutter, and the viewfinder are bought and I only built the
      box they’re attached to?

      Well, for that reason the goal was to build a camera which:

      * shoots 120 film
      * is handheld, so I don't need a tripod
      * and most importantly, is as self-made as possible

      The most difficult parts of a camera are the lens elements. Compared to
      them everything else is trivial. So here I build a camera with:

      * 1 bought lens element
      * 1 shutter speed
      * X apertures
      * interchangeable lenses (to potentially add profesional lenses)

    img.text-width-size(src="../images/nechica-c2/section-view.png")
    img.text-width-size(src="../images/nechica-c2/section-view-2.png")

    +common-footer(true, info)
