doctype html
include ../../../../common/common.pug
html(lang='en')
  head
    +head-main(
      'Buttons',
      'My 88x31 and 80x15 button collection.'
    )
    style: :stylus(compress=true)
      @require '../../../../common/common'
      page-width-600()
      .buttons
        display flex
        max-width 610px
        margin 0 auto
        padding -5px
        img
          margin 5px
      .p31, .p15
        width 50%
        display flex
        flex-wrap wrap
        align-content flex-start
      .p31
        img
          width 88px
          height 31px
      .p15
        justify-content right
        img
          width 80px
          height 15px

  body
    header: :markdown-it
      # [Buttons](.)

      My 88x31 and 80x15 button collection.

    .buttons
      .p31
        each image in images88x31
          img(src="88x31/" + image, alt="")
      .p15
        each image in images80x15
          img(src="80x15/" + image, alt="")

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/pages/pages/buttons/index.pug')
