mixin f(id, text)
  .form-group
    label.control-label.col-sm-4(for=id)= text
    .controls.col-sm-8
      .input-group
        input.form-control(id=id, type='text')
        span.input-group-btn
          button.btn.btn-default(type='button')
            span.glyphicon.glyphicon-repeat

mixin resetBtn()
  .form-group
    .controls.col-sm-8.col-sm-offset-4
      button.btn.btn-info.reset(type='button')
        span.glyphicon.glyphicon-repeat
        |  Altă identitate

doctype html
html(lang='ro')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Identitate falsă
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='Generează identități false.')
    link(rel='apple-touch-icon', href='/favicon152.png')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Open+Sans+Condensed:300,300italic,700&subset=latin,latin-ext')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    style: :stylus(compress=true)
      .form-control
        padding 3px 6px
        font-size 16px
      body
        font-family 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif
        padding 0

      body, label
        font-size 16px

      body, li, h1, h2, h3
        line-height 1.4

      p, li, ul, ol
        margin-bottom 1em

      a
        &:hover
          text-decoration none
          border-bottom 1px solid #A4C1D3
          &.hide-link
            color #08c
        &.hide-link
          color #333

      h1, h2, h3, h4, h5, h6
        font-family 'Open Sans Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif
        font-weight 300
        margin 0

      h1
        text-align center
        font-size 56px
        a
          color #333
          &:hover
            text-decoration none
            border 0
            color #08c

      header
        margin 0 0 25px 0

      .footer
        font-size 16px
        margin-top 45px
        padding 1em 0
        text-align center
        small
          color #999
          a
            color #888

      /* Devices with big screens. */
      @media only screen and (min-width: 768px)
        header, .readable, .footer
          width 600px
          margin-left auto
          margin-right auto

      /* Devices with medium screens */
      @media only screen and (min-width: 480px) and (max-width: 767px)
        header, .readable, .footer
          max-width 600px
          padding 0 10px
          margin-left auto
          margin-right auto

      /* Devices with small screens */
      @media only screen and (max-width: 479px)
        header, .readable, .footer
          padding 0 8px

        body, label
          font-size 14px
        h1
          font-size 36px
        h2
          font-size 29px
        h3
          font-size 22px

        header
          margin 0 0 5px 0
        .footer
          font-size 14px

  body
    header
      h1
        a(href='.') Identitate falsă

    // googleoff: all
    .readable: form.form-horizontal
      +resetBtn()
      +f('prenume', 'Prenume')
      +f('nume', 'Nume')
      +f('sex', 'Sex')
      +f('dataNasterii', 'Data nașterii')
      +f('varsta', 'Vârsta')
      +f('telefon', 'Telefon')
      +f('localitate', 'Localitate')
      +f('judetSector', 'Județ/Sector')
      .form-group
        label.control-label.col-sm-4(for='adresa') Adresa
        .controls.col-sm-8
          .input-group
            textarea.form-control(id='adresa', rows=3)
            span.input-group-btn
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-repeat
      .form-group
        label.control-label.col-sm-4(for='avatar') Avatar
        .controls.col-sm-8
          .input-group
            img(id='avatar', src='')
            span.input-group-btn
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-repeat
      +resetBtn()
    // googleon: all

    .footer
      :markdown-it
        Creat de [Paul Nechifor](/). [Vezi sursa Git.](https://gitlab.com/paul-nechifor/identitate-falsa)

      small: :markdown-it
        [Prima pagină](/) • [Proiecte](/projects)

    script(src='//code.jquery.com/jquery-1.10.2.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script !{js}
