@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?8595579');
  src: url('../font/fontello.eot?8595579#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?8595579') format('woff'),
       url('../font/fontello.ttf?8595579') format('truetype'),
       url('../font/fontello.svg?8595579#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?8595579#fontello') format('svg');
  }
}
*/
 
 [class^="si-"]:before, [class*=" si-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.si-doc-text-inv:before { content: '\e80b'; } /* '' */
.si-github:before { content: '\e801'; } /* '' */
.si-stackoverflow:before { content: '\e80a'; } /* '' */
.si-youtube:before { content: '\e805'; } /* '' */
.si-mail:before { content: '\e802'; } /* '' */
.si-twitter:before { content: '\e803'; } /* '' */
.si-menu:before { content: '\e800'; } /* '' */
.si-tumblr:before { content: '\e809'; } /* '' */
.si-linkedin:before { content: '\e806'; } /* '' */
.si-instagram:before { content: '\e807'; } /* '' */
.si-skype:before { content: '\e808'; } /* '' */
.si-facebook:before { content: '\e804'; } /* '' */