doctype html
include ../../../../common/common.pug
html(lang='en')
  head
    +head-main(
      'Multilatex Dissertation',
      'My M.Sc. dissertation on a collaborative web editor for Latex projects.'
    )
    style: :stylus(compress=true)
      @require '../../../../common/common'
      page-width-600()

  body
    header: :markdown-it
      # [Multilatex Dissertation](.)

      This was my M.Sc. dissertation on a collaborative web editor for Latex
      projects.

      * [source code](https://gitlab.com/paul-nechifor/multilatex)
      * [summary](rezumat.pdf) (PDF in Romanian)
      * [dissertation](lucrare.pdf) (PDF in Romanian)
      * [presentation](presentation/)

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/pages/pages/multilatex-dissertation/index.pug')
