doctype html
include ../../common/common.pug
html(lang='en')
  head
    +head-main(
      'Paul Nechifor',
      'Paul Nechifor’s home page and list of projects.'
    )
    style: :stylus(compress=true)
      @require '../../common/common'
      page-width-600()

  body
    header: :markdown-it
      # [Paul Nechifor](/)

      Hi. I’m Paul Nechifor ([🔊&#xFE0E;](paul-nechifor.mp3)). I’m a software
      engineer living in London. Here I host my projects, mostly software, but
      some photography, 3D prints, constructed scripts and others too.

      You can see a listing of **[all my projects](/projects/)** here on this
      site or more on my [GitLab][gitlab-repos] account.

      I’m interested in photography, especially film photography. See [my
      photos](/photography/) and the [cameras](/photography/tags/my-cameras/) I
      take them with.

      I’m fond of 3D printing. I mostly design [film cameras](/3d/cameras/) and
      [related equipment](/3d/).

      I like [constructed scripts](/conscripts). I’ve published
      [Sidrem](/sidrem/), [Jurfo](/jurfo/), and [Tinutok](/tinutok/).

      I dislike web bloat. That’s why this site is so minimalistic. [Here’s a
      website][asmnames] I build in assembly in 29 KB. It’s an HTTP server for
      playing Codenames.

      I’m into metal. Black Metal is one of my favorite genres. Here’s a list of
      [100 top black metal albums](/best-black-metal-albums/) I put together.

      I like modular origami. Most such pictures are on [my oldest instagram
      account](/oldest-instagram/).

      To get an overview of this site, look at the [visual site
      map](/website-map/).

      You can contact me at `paul` at `nechifor.net` or on [my Linkedin
      account][linkedin].

      [asmnames]: https://gitlab.com/paul-nechifor/asmnames
      [gitlab-repos]: https://gitlab.com/paul-nechifor?tab=repositories
      [linkedin]:  https://www.linkedin.com/in/paul-nechifor

    footer: small: :markdown-it
      [Git source.](https://gitlab.com/paul-nechifor/nechifor-web/-/blob/master/projects/home/index.pug)
