doctype html
include ../../../../common/common.pug

mixin game(name, image, url, local)
  section
    h2: a(href=url)= name
    block
  a.cover(href=url): img(loading="lazy", alt=name + " cover", src=(local ? "./covers/" : "/projects/screenshots/") + image)

html(lang='en')
  head
    +head-main(
      'Games',
      'Paul Nechifor’s games.'
    )
    style: :stylus(compress=true)
      @require '../../../../common/common'
      page-width-600()
      .cover
        &, img
          display block
          margin 0 auto 50px
          max-width 600px
  body
    header
      h1: a(href=".") My Games
      p Every game I’ve ever created is incomplete, but here they are.

    +game("TorusCycle", "torus-cycle.jpg", "/torus-cycle/", false)

    +game("Thunder Tactics", "tt.jpg", "https://gitlab.com/paul-nechifor/tt", false)

    +game("1930", "1930.png", "https://gitlab.com/paul-nechifor/1930", false)

    +game("Râuri", "râuri.png", "/minimul/rauri/", true)

    +game("Chess Puzzles", "chess-puzzles.png", "/chess-puzzles/", false)

    +game("crrifc", "crrifc.png", "https://gitlab.com/paul-nechifor/crrifc", false)

    +game("Makawa", "makawa.png", "https://gitlab.com/paul-nechifor/makawa", false)

    +game("BombMan", "bombman.png", "/college-website/proiecte/buggy/bombman/", true)

    +game("Paddle", "paddle.png", "/college-website/proiecte/buggy/paddle/", true)

    +game("Tetravex", "tetravex.png", "/college-website/proiecte/buggy/tetravex/", true)

    +game("Friendly Maze", "friendly-maze.png", "/college-website/proiecte/buggy/friendlymaze/", true)

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/pages/pages/games/index.pug')
