doctype html
include ../../../../common/common.pug

mixin conscript(name, code, extension)
  section
    h2: a(href="/" + code)= name
    block
  a.cover(href="/" + code): img(alt=name + " sample", src="/projects/screenshots/" + code + "." + extension)

html(lang='en')
  head
    +head-main(
      'Conscripts',
      'Paul Nechifor’s constructed scripts.'
    )
    style: :stylus(compress=true)
      @require '../../../../common/common'
      page-width-600()
      .cover
        &, img
          display block
          margin 0 auto 50px
          max-width 600px
  body
    header: h1: a(href=".") My Constructed Scripts

    +conscript("Jurfo", "jurfo", "jpg")
      p A font created by segmeting features from the Latin, Cyrilic and Greek alphabets and joining them back in different ways.
    +conscript("Tinutok", "tinutok", "png")
      p Text written using a single unbroken line inspired by Chinese caligraphy and Mongolian.
    +conscript("Sidrem", "sidrem", "png")
      p The first conscript for which I created a font. Each letter is a single non-intersecting line.

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/pages/pages/conscripts/index.pug')
