body {
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: system-ui, Ubuntu, "Segoe UI", BlinkMacSystemFont, Roboto,
    sans-serif;
  margin: 0;
  background: #eee;
}

header {
  width: 500px;
  padding-right: 400px;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
}

h1 a {
  color: black;
}

body.faded {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding-bottom: 10px;
}

footer small {
  color: #999;
}

footer small a {
  color: #888;
}

.app {
  position: relative;
}

.largeImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(40, 40, 40, 0.2);
}

.largeImageImg {
  display: block;
  margin: 30px auto 10px;
  max-width: calc(100% - 60px);
  max-height: calc(100vh - 160px);
}

.description {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  text-shadow: #fff 1px 0 10px;
}

.thumbListOuter {
  margin: 0 auto;
  width: 1098px;
  transform-origin: top;
}

.thumbList {
  width: 1396px;
  margin: 0 -108px;
  padding: 20px 0 280px;
}

@media (max-width: 1110px) {
  header {
    width: 400px;
    padding-right: 300px;
  }

  .thumbListOuter {
    transform: scale(0.8);
    width: 878px;
  }
  .thumbList {
    margin: 0 -220px;
  }
}

@media (max-width: 887px) {
  header {
    width: 300px;
    padding-right: 200px;
  }
  .thumbListOuter {
    transform: scale(0.5);
    width: 500px;
  }
  .thumbList {
    margin: 0 -410px;
  }
}

@media (max-width: 556px) {
  header {
    width: 300px;
    padding-right: 0;
    padding-bottom: 40px;
  }
  .thumbListOuter {
    transform: scale(0.3);
    width: 300px;
  }
  .thumbList {
    margin: 0 -510px;
  }
}

.blurred {
  opacity: 0.5;
  filter: blur(8px);
}

.thumbChunk {
  display: flex;
  transform: rotateX(-45deg) rotateZ(-45deg);
}

.thumbOuter {
  width: 300px;
  height: 300px;
  margin: 10px;
  background: #aaa;
}

.thumb {
  width: 300px;
  height: 300px;
  position: relative;
  z-index: 1;
}

.thumb:hover {
  top: -0.5rem;
  left: 0.5rem;
  border: 1px solid #777;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbOuter,
.thumb,
.image {
  border-radius: 10px;
  box-sizing: border-box;
}
