doctype html
include ../../common/common.pug
include common.pug
html(lang='en')
  head
    +head-main(
      '3D Printables',
      'My 3D printable objects.'
    )
    style: :stylus(compress=true)
      @require '../../common/common'
      page-width-600()
      @require 'common'

  body
    header: :markdown-it
      # [3D printable cameras](.)

      These are just my 3D printable cameras. You can see [my other 3D
      printables here](../).

    .objects
      each info in infos
        .object
          h3: a(href="../" + info.slug + "/")= info.name

          a(href="../" + info.slug + "/")
            img(src='../thumbs/' + info.slug + '.jpg', alt=info.name)

    +common-footer(false)
