mixin common-footer(seeOther, info)
  footer
    p
      if seeOther
        = 'See '
        a(href="../") other printables
        if info && info.isCamera
          = ', or just '
          a(href="../cameras/") other cameras
        = '. '
        br
      = 'Created by '
      a(href="/") Paul Nechifor
      = '.'

    small
      +simple-footer-links('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/3d')
