footer
  text-align center

obj-width = 400px
obj-padding = 10px
h3
  margin-bottom 4px
  a
    color black
.objects
  margin 0 auto
  display flex
  flex-wrap wrap
  justify-content center
  max-width 3 * (obj-width + 2 * obj-padding)
.object
  margin 0 obj-padding
  max-width obj-width
  align-self end
  img
    display block
    width obj-width
    height 300px
@media (max-width: obj-width + 2 * obj-padding)
  .object
    margin 0
    img
      width 100%
      height initial
.text-width-size
  display block
  max-width 600px
  margin 0 auto
.hero
  max-width calc(100% - 50px)
  margin 0 auto
