doctype html
include ../../common/common.pug
include common.pug
html(lang='en')
  head
    +head-main(
      '3D Printables',
      'My 3D printable objects.'
    )
    style: :stylus(compress=true)
      @require '../../common/common'
      page-width-600()
      @require 'common'

  body
    header: :markdown-it
      # [3D printables](.)

      These are my 3D printable objects. You can download them here and print
      them yourself.

      I’m mostly interested in analog cameras and accessories. You can [see just
      my cameras here](cameras/).

      They are also available on [my profile on Printables.com][profile].

      [profile]: https://www.printables.com/social/391975-resred/models

    .objects
      each info in infos
        .object
          h3: a(href=info.slug + "/")= info.name

          a(href=info.slug + "/")
            img(src='thumbs/' + info.slug + '.jpg', alt=info.name)

    +common-footer(false)
