include ../../common/common.pug

mixin default-head(info)
  head
    +head-main(info.name, info.description)
    style: :stylus(compress=true)
      @require '../../common/common'
      page-width-600()
      @require 'common'
      h1
        font-size 1.6rem
      .hero
        display block
        margin 0 auto
      footer
        text-align center

mixin default-header(info, omitCover)
  header
    h1
      a(href=".")= info.name
      = ' • '
      a(href="../") 3D Printables

    p= info.description
    p.links
      a(href="../download/" + info.slug + ".zip") Download files
      if info.prusaPrintablesLink
        = ' • '
        a(href=info.prusaPrintablesLink) Prusa Printables link
  if !omitCover
    img.hero(src="../covers/" + info.slug + ".jpg", alt=info.description)
