doctype html
head
  meta(charset='utf-8')
  title Paul Nechifor
  link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin,latin-ext')
  link(rel='stylesheet' href='s/fontello/css/fontello.css')
  link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
  link(rel='apple-touch-icon' href='/favicon152.png')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=0.25')
  style: :stylus(compress=true)
    // Reset
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
    blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
    ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
    dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
    tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
    figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
    time, mark, audio, video
      margin 0
      padding 0
      border 0
      font-size 100%
      font inherit
      vertical-align baseline
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
    section
      display block
    body
      line-height 1
    ol, ul
      list-style none
    blockquote, q
      quotes none
    blockquote:before, blockquote:after, q:before, q:after
      content ''
      content none
    table
      border-collapse collapse
      border-spacing 0

    // General
    body
      font-family 'Open Sans'
      font-weight 400
      color #333
      cursor default
    a
      text-decoration none
      color #37AD8E
      cursor pointer
    a.internal
      position relative
      top -100px
    em
      font-style italic
    strong
      font-weight 700
    p, li, td
      font-size 20px
      font-weight 300
      line-height 1.4
      margin-bottom 10px
      @media (max-width: 479px)
        font-size 16px
    .clear
      clear both
    .btn
      font-size 18px
      font-weight 400
      padding 10px 30px
      text-transform uppercase
      background-color #666
      cursor pointer
      color #FFF
      display inline-block
      border-radius 3px
      -webkit-border-radius 3px
      -moz-border-radius 3px
      &:hover
        background-color #555
      &.primary
        background-color #37AD8E
        &:hover
          background-color #28816A
    .container, table
      width 800px
      margin 0 auto
      @media (max-width: 767px)
        width auto
        padding 0 10px
        .left, .right
          width 100%
    section
      padding 50px 0 50px 0
      @media (max-width: 767px)
        padding 30px 0 30px 0
      &:nth-child(2n)
        background-color #eee
      h2
        text-transform uppercase
        font-size 28px
        font-weight 700
        margin-bottom 40px
        @media (max-width: 767px)
          margin-bottom 20px
        text-align center
        color #323A40
      ul
        list-style square
    .title
      margin-bottom 60px
      @media (max-width: 767px)
        margin-bottom 40px
      h1
        font-size 60px
        font-weight 700
        text-align center
        text-transform uppercase
        margin-bottom 14px
        color #FFF
      h2
        font-size 28px
        font-weight 300
        text-align center
        text-transform lowercase

    // Navigation
    nav
      background-color #323A40
      color #eee
      position fixed
      width 100%
      .container
        position relative
      a
        display block
        height 60px
        line-height 60px
        color #eee
        text-transform uppercase
        font-weight 700
        cursor pointer
        &:hover
          color #37AD8E
      ul
        position absolute
        right 0
        top 0
        background-color #323A40
      li
        display inline-block
        font-size 14px
        margin-right 20px
        margin-bottom 0
        &:last-child
          margin-right 0
      h2
        font-size 20px
      // Hide menu icon on big devices.
      @media (min-width: 768px)
        .all-menu .activate
          display none
      @media (max-width: 767px)
        ul
          margin 60px 0 0 0
        li
          display block
          font-size 14px
          margin 0
          font-size 18px
          a
            height 30px
            line-height 30px
            padding 10px 30px
        li:last-child a
          padding-bottom 20px
        #nav-links
          display none
        .all-menu
          position absolute
          top 0
          right 0
          .activate
            font-size 30px
            text-align right
            line-height 60px
            height 60px
            padding 0 10px
          &:hover
            #nav-links
              display block

    // Description
    #description
      padding-top 110px
      background-image url('s/cover.jpg')
      background-color #323A40
      background-position center top
      background-size cover
      p
        font-weight 400
      p, h1, h2
        color #FFF
      .container
        display table
      .row
        display table-row
        .left, .right
          display table-cell
          vertical-align middle
        .left
          width 250px
        .right
          width 550px
          text-align left
      .text
        a
          border-radius 4px
          -webkit-border-radius 4px
          -moz-border-radius 4px
          background-color #28816A
          padding 0 4px
          color #fff
          &:hover
            background-color #323A40
            color #37AD8E
      @media (max-width: 767px)
        padding-top 90px
        .container
          display block
        .row
          display block
          .left, .right
            display block
            margin 0 auto
          .right
            width auto
            margin-top 20px
    .portrait
      background-image url('s/portret.jpg')
      background-size cover
      width 200px
      height 200px
      border 10px solid #fff
      border-radius 120px
      -webkit-border-radius 120px
      -moz-border-radius 120px
      background-size 200px 200px
      img
        display none
      @media (max-width: 767px)
        margin 0 auto
    #quick-contact
      margin-top 10px
      font-size 20px
      @media (max-width: 479px)
        a
          font-size 20px
      li
        display inline-block
        a
          display block
          color #FFF
          width 28px
          height 28px
          text-align center
          &:hover
            border-radius 4px
            -webkit-border-radius 4px
            -moz-border-radius 4px
            background-color #28816A
      .hidden
        display none
    @media (max-width: 479px)
      #expand-quick-contact  a
        display inline-block
        width 20px

    // Projects
    #s-projects
      .buttons
        text-align center
        .btn
          width 300px
          text-align center
      .project
        display row
        margin-bottom 40px
        width 360px
        height 318px
        float left
        img
          width 100%
          margin 12px 0 10px
        h3
          font-size 24px
          font-weight bold
          .links a
            display block
            float right
      @media (min-width: 800px)
        .project
          margin 0 20px
        .projects
          width 800px
          margin 0 auto
      @media (min-width: 1200px)
        .projects
          width 1200px
      @media (min-width: 1600px)
        .projects
          width 1600px

      @media (max-width: 767px)
        .projects
          width 100%
        .project
          margin-bottom 40px
          width 100%
          height auto
          float none
          h3, p
            padding-left 10px
            padding-right 10px

    // Contact
    .contact-icons
      margin 0
      text-align center
      width 360px
      margin 0 auto
      li
        display block
        margin 0
        float left
        a
          display block
          font-size 30px
          width 70px
          height 70px
          margin 10px
          line-height 70px
          text-align center
          background-color #666
          border-radius 3px
          -webkit-border-radius 3px
          -moz-border-radius 3px
      &.lesser li a
        font-size 20px
        width 40px
        height 40px
        margin 10px
        line-height 40px
      a
        color #FFF
      a:hover
        background-color #323A40
        color #37AD8E
      span
        display none

    footer
      background-color #323A40
      color #eee
      text-align center
      padding 18px 0
      clear both
      p
        margin-bottom 0
        font-size 14px
body
  nav
    .container
      .all-menu
        .activate
          i.si-menu
        ul#nav-links
          li
            a(href='#projects') Projects
          li
            a(href='#interests') Interests
          li
            a(href='#contact') Contact
          li
            a(href='/blog') Blog
      h2.self
        a(href='#') Paul Nechifor
  section#description
    .title
      h1 Paul Nechifor
      h2.sub software engineer
    .container
      .row
        .left
          .portrait
            img(src='s/portret.jpg' alt='Paul Nechifor')
        .right
          .text
            p
              | Hello, I&rsquo;m a passionate software engineer from Ia&#x219;i, Romania. I&rsquo;ve been writing side projects since I&rsquo;ve started programming. I&rsquo;m a fast learner and I like to take on challenging projects with other experienced programmers to further develop my skills and leave behind beautiful projects. I believe good code can be written in any language. I have an eye out for detail and precision in everything I do. See my programming 
              a(href='https://www.youtube.com/watch?v=zZZW-KqOmOE') showreel
              |  draft.
          ul#quick-contact
            li
              a(href='mailto:paul@nechifor.net' title='email address')
                i.si-mail
            li
              a(href='https://gitlab.com/paul-nechifor' title='GitLab account')
                i.si-github
            li
              a(href='https://www.linkedin.com/in/paul-nechifor' title='LinkedIn profile')
                i.si-linkedin
            li.hidden
              a(href='http://facebook.com/paul.nechifor' title='Facebook account')
                i.si-facebook
            li.hidden
              a(href='skype:paul.r.nechifor?call' title='Skype account')
                i.si-skype
            li.hidden
              a(href='/oldest-instagram/' title='Instagram gallery')
                i.si-instagram
            li.hidden
              a(href='https://www.youtube.com/user/PaulNechifor' title='YouTube channel')
                i.si-youtube
            li.hidden
              a(href='https://twitter.com/' title='Twitter account')
                i.si-twitter
            li.hidden
              a(href='/blog/' title='blog')
                i.si-doc-text-inv
            li.hidden
              a(href='http://stackoverflow.com/users/2872108/paul-nechifor' title='Stack Overflow account')
                i.si-stackoverflow
            li#expand-quick-contact
              a &raquo;
  section#s-projects
    a#projects.internal
    h2 Projects
    .projects
      .project
        h3
          | Thunder Tactics
          span.links
            a(href='https://drive.google.com/file/d/0B2d_Hog018b4dU9CbS1TNHZNYVE/edit?usp=sharing' title='report')
              i.si-doc-text-inv
            a(href='https://gitlab.com/paul-nechifor/tt' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/tt')
          img(src='/projects/screenshots/tt.thumb.jpg' alt='Thunder Tactics screenshot')
        p MMORPG/TBS browser game built with WebGL and WebSockets (group project).
      .project
        h3
          | Negura
          span.links
            a(href='https://gitlab.com/paul-nechifor/Negura/raw/master/doc/licen%C8%9B%C4%83/licen%C8%9B%C4%83.pdf' title='report')
              i.si-doc-text-inv
            a(href='https://gitlab.com/paul-nechifor/negura' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/negura')
          img(src='/projects/screenshots/negura.thumb.png' alt='Negura screenshot')
        p Peer-to-peer distributed file system (my bachelor degree thesis).
      .project
        h3
          | ComA
          span.links
            a(href='http://htmlpreview.github.io/?https://gitlab.com/paul-nechifor/coma/blob/master/report/report.html' title='report')
              i.si-doc-text-inv
            a(href='http://building-coma.tumblr.com/' title='blog')
              i.si-doc-text-inv
            a(href='http://www.youtube.com/watch?v=vWgLG8Cdfzk' title='YouTube video')
              i.si-youtube
            a(href='https://gitlab.com/paul-nechifor/coma' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/coma')
          img(src='/projects/screenshots/coma.thumb.png' alt='ComA screenshot')
        p My project for the Human&ndash;Computer Interaction course.
      .project
        h3
          | Reddit Cloud
          span.links
            a(href='https://gitlab.com/paul-nechifor/reddit-cloud' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/reddit-cloud')
          img(src='/projects/screenshots/reddit-cloud.thumb.png' alt='Reddit Cloud screenshot')
        p Reddit bot which generates word clouds from submission comments.
      .project
        h3
          | JPEG Enricher
          span.links
            a(href='/jpeg-enricher/' title='project location')
              i.si-project
        a(href='/jpeg-enricher/')
          img(src='/projects/screenshots/jpeg-enricher.thumb.jpg' alt='JPEG Enricher screenshot')
        p Enriches images by adding JPEG artefacts.
      .project
        h3
          | Chess puzzles
          span.links
            a(href='/chess-puzzles/' title='project location')
              i.si-project
        a(href='/chess-puzzles/')
          img(src='/projects/screenshots/chess-puzzles.thumb.png' alt='Chess puzzles screenshot')
        p Simple chess puzzles in HTML.
      .project
        h3
          | Circuits
          span.links
            a(href='/circuits/' title='project location')
              i.si-project
            a(href='https://gitlab.com/paul-nechifor/circuits' title='GitHub repository')
              i.si-github
        a(href='/circuits/')
          img(src='/projects/screenshots/circuits.thumb.png' alt='Circuits screenshot')
        p Generates seamless circuit tiles.
      .project
        h3
          | Magic Square
          span.links
            a(href='https://gitlab.com/paul-nechifor/magic-square' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/magic-square')
          img(src='/projects/screenshots/magic-square.thumb.png' alt='Magic Square screenshot')
        p Generates magic squares of different orders with three algorithms.
      .project
        h3
          | Horoscop
          span.links
            a(href='/horoscop/' title='project location')
              i.si-project
        a(href='/horoscop/')
          img(src='/projects/screenshots/horoscop.thumb.png' alt='Horoscop screenshot')
        p A fake horoscope site in Romanian. Can you tell this apart from the real thing?
      .project
        h3
          | SpaceHoarder
          span.links
            a(href='https://gitlab.com/paul-nechifor/space-hoarder' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/space-hoarder')
          img(src='/projects/screenshots/space-hoarder.thumb.png' alt='SpaceHoarder screenshot')
        p A basic SpaceMonger clone for Linux written in Python with GTK+ 3.
      .project
        h3
          | Fake Identity
          span.links
            a(href='/identitate-falsa/' title='project location')
              i.si-project
        a(href='/identitate-falsa/')
          img(src='/projects/screenshots/identitate-falsa.thumb.png' alt='Fake Identity screenshot')
        p Generates plausible fake Romanian identities.
      .project
        h3
          | WebGL Demos
          span.links
            a(href='/webgl-demos/' title='project location')
              i.si-project
            a(href='https://gitlab.com/paul-nechifor/webgl-demos' title='GitHub repository')
              i.si-github
        a(href='/webgl-demos/')
          img(src='/projects/screenshots/webgl-demos.thumb.jpg' alt='WebGL Demos screenshot')
        p My WebGL demos.
      .project
        h3
          | Papers
          span.links
            a(href='/papers/' title='project location')
              i.si-project
        a(href='/papers/')
          img(src='/projects/screenshots/papers.thumb.png' alt='Papers screenshot')
        p Generates funny computer science papers titles.
      .project
        h3
          | Pseudoromanian
          span.links
            a(href='/pseudoromana/' title='project location')
              i.si-project
        a(href='/pseudoromana/')
          img(src='/projects/screenshots/pseudoromanian.thumb.png' alt='Pseudoromanian screenshot')
        p Text generator similar to Lorem Ipsum, but with Romanian letters.
      .project
        h3
          | XML+XSLT Blog
          span.links
            a(href='https://gitlab.com/paul-nechifor/jurnal-xml-xslt' title='GitHub repository')
              i.si-github
        a(href='https://nechifor.net/xslt-blog/')
          img(src='/projects/screenshots/xslt-blog.thumb.jpg' alt='XML+XSLT Blog screenshot')
        p An experimental blog I wrote in 2010 after I learned of XSLT.
      .project
        h3
          | SIBF
          span.links
            a(href='/sibf/' title='project location')
              i.si-project
            a(href='https://gitlab.com/paul-nechifor/sibf' title='GitHub repository')
              i.si-github
        a(href='/sibf/')
          img(src='/projects/screenshots/sibf.thumb.png' alt='SIBF screenshot')
        p
          | My attempt at making better book typography on the web. I&apos;ll restart this project one day.
      .project
        h3
          | Sidrem
          span.links
            a(href='/sidrem/' title='project location')
              i.si-project
            a(href='https://gitlab.com/paul-nechifor/sidrem' title='GitHub repository')
              i.si-github
        a(href='/sidrem/')
          img(src='/projects/screenshots/sidrem.thumb.png' alt='Sidrem screenshot')
        p A SVG font for an constructed script I created.
      .project
        h3
          | TorusCycle
          span.links
            a(href='/torus-cycle/' title='project location')
              i.si-project
            a(href='https://gitlab.com/paul-nechifor/torus-cycle' title='GitHub repository')
              i.si-github
        a(href='/torus-cycle/')
          img(src='/projects/screenshots/torus-cycle.thumb.jpg' alt='TorusCycle screenshot')
        p A yet to be finished Tron clone in WebGL (use WAD and QE).
      .project
        h3
          | CRRIFC
          span.links
            a(href='http://www.youtube.com/watch?v=QlaqZcl0R_A' title='YouTube video')
              i.si-youtube
            a(href='https://gitlab.com/paul-nechifor/crrifc' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/crrifc')
          img(src='/projects/screenshots/crrifc.thumb.png' alt='CRRIFC screenshot')
        p A multiplayer map-based quiz game written in C for Linux.
      .project
        h3
          | Poshex
          span.links
            a(href='https://gitlab.com/paul-nechifor/poshex' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/poshex')
          img(src='/projects/screenshots/poshex.thumb.png' alt='Poshex screenshot')
        p A Chrome extension for detecting and using semantic markup formats.
      .project
        h3
          | Auto Doge
          span.links
            a(href='https://gitlab.com/paul-nechifor/auto-doge' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/auto-doge')
          img(src='/projects/screenshots/auto-doge.thumb.jpg' alt='Auto Doge screenshot')
        p A Reddit bot that creates Doge images from comments.
      .project
        h3
          | College Website
          span.links
            a(href='https://gitlab.com/paul-nechifor/college-website' title='GitHub repository')
              i.si-github
        a(href='/college-website/')
          img(src='/projects/screenshots/college-website.thumb.png' alt='College Website screenshot')
        p My initial college website in PHP from 2008.
      .project
        h3
          | Second College Website
          span.links
            a(href='https://gitlab.com/paul-nechifor/college-website-2' title='GitHub repository')
              i.si-github
        a(href='/college-website-2/')
          img(src='/projects/screenshots/college-website-2.thumb.png' alt='Second College Website screenshot')
        p My second college website which I hosted on the students&apos; server.
      .project
        h3
          | Facetrain
          span.links
            a(href='https://gitlab.com/paul-nechifor/facetrain' title='GitHub repository')
              i.si-github
        a(href='/facetrain/')
          img(src='/projects/screenshots/facetrain.thumb.png' alt='Facetrain screenshot')
        p Neural networks face training experiments.
      .project
        h3
          | 1930
          span.links
            a(href='https://gitlab.com/paul-nechifor/1930' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/1930')
          img(src='/projects/screenshots/1930.thumb.png' alt='1930 screenshot')
        p Multiplayer quiz game, but massive, urgent, and eternal.
      .project
        h3
          | Makawa
          span.links
            a(href='https://gitlab.com/paul-nechifor/makawa' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/makawa')
          img(src='/projects/screenshots/makawa.thumb.png' alt='Makawa screenshot')
        p Java implementation of the Macaua card game.
      .project
        h3
          | Fenrir Chat
          span.links
            a(href='https://gitlab.com/paul-nechifor/fenrir-chat' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/fenrir-chat')
          img(src='/projects/screenshots/fenrir-chat.thumb.png' alt='Fenrir Chat screenshot')
        p My first use of BSD sockets to build a chat program.
      .project
        h3
          | Concurrency in Go
          span.links
            a(href='https://gitlab.com/paul-nechifor/go-concurrency' title='GitHub repository')
              i.si-github
        a(href='/go-concurrency/')
          img(src='/projects/screenshots/go-concurrency.thumb.png' alt='Concurrency in Go screenshot')
        p My presentation about Go concurrency.
      .project
        h3
          | Italia fascist&abreve;
          span.links
            a(href='https://gitlab.com/paul-nechifor/italia-fascistă' title='GitHub repository')
              i.si-github
        a(href='/italia-fascista/')
          img(src='/projects/screenshots/italia-fascista.thumb.png' alt='Italia fascistă screenshot')
        p A history themed web site I build in high school for a competition.
      .project
        h3
          | KMPress
          span.links
            a(href='https://gitlab.com/paul-nechifor/kmpress' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/kmpress')
          img(src='/projects/screenshots/kmpress.thumb.png' alt='KMPress screenshot')
        p K-means clustering to encode an image using fewer colors.
      .project
        h3
          | Meet Firefox
          span.links
            a(href='https://gitlab.com/paul-nechifor/meet-firefox' title='GitHub repository')
              i.si-github
        a(href='/meet-firefox/')
          img(src='/projects/screenshots/meet-firefox.thumb.png' alt='Meet Firefox screenshot')
        p A silly project I did in my first semester of college.
      .project
        h3
          | Paul Scripts
          span.links
            a(href='https://gitlab.com/paul-nechifor/paul-scripts' title='GitHub repository')
              i.si-github
        a(href='/paul-scripts/')
          img(src='/projects/screenshots/paul-scripts.thumb.png' alt='Paul Scripts screenshot')
        p An old site.
      .project
        h3
          | Resolvents
          span.links
            a(href='https://gitlab.com/paul-nechifor/resolvents' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/resolvents')
          img(src='/projects/screenshots/resolvents.thumb.png' alt='Resolvents screenshot')
        p A Logics homework.
      .project
        h3
          | RSTSD
          span.links
            a(href='https://gitlab.com/paul-nechifor/rstsd' title='GitHub repository')
              i.si-github
        a(href='/rstsd/')
          img(src='/projects/screenshots/rstsd.thumb.png' alt='RSTSD screenshot')
        p A history themed website I build in 2006 for a competition.
      .project
        h3
          | Timr
          span.links
            a(href='https://gitlab.com/paul-nechifor/timr' title='GitHub repository')
              i.si-github
        a(href='/timr/')
          img(src='/projects/screenshots/timr.thumb.png' alt='Timr screenshot')
        p My project for my Web Technologies course in 2010.
      .project
        h3
          | Vagrant Hadoop Cluster
          span.links
            a(href='https://gitlab.com/paul-nechifor/vagrant-hadoop-cluster' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/vagrant-hadoop-cluster')
          img(src='/projects/screenshots/vagrant-hadoop-cluster.thumb.png' alt='Vagrant Hadoop Cluster screenshot')
        p A mini Hadoop cluster configuration in Vagrant.
      .project
        h3
          | Minimul
          span.links
            a(href='https://gitlab.com/paul-nechifor/minimul' title='GitHub repository')
              i.si-github
        a(href='/minimul/')
          img(src='/projects/screenshots/minimul.thumb.png' alt='Minimul screenshot')
        p The predecesor to my current website.
      .project
        h3
          | Homepage
          span.links
            a(href='https://gitlab.com/paul-nechifor/nechifor-index' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/nechifor-index')
          img(src='/projects/screenshots/home-2014.thumb.png' alt='Homepage screenshot')
        p My homepage.
      .project
        h3
          | Multilatex
          span.links
            a(href='https://gitlab.com/paul-nechifor/multilatex' title='GitHub repository')
              i.si-github
        a(href='/multilatex/')
          img(src='/projects/screenshots/multilatex.thumb.png' alt='Multilatex screenshot')
        p Collaborative web editor for LaTeX projects.
      .project
        h3
          | Linux CLI tips
          span.links
            a(href='https://gitlab.com/paul-nechifor/linux-cli-tips' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/linux-cli-tips')
          img(src='/projects/screenshots/linux-cli-tips.thumb.png' alt='Linux CLI tips screenshot')
        p Linux command-line tips in bubbles.
      .project
        h3
          | PayWord Radio
          span.links
            a(href='https://gitlab.com/paul-nechifor/payword-radio' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/payword-radio')
          img(src='/projects/screenshots/payword-radio.thumb.png' alt='PayWord Radio screenshot')
        p Audio streaming using PayWord micropayment.
      .project
        h3
          | PP2P
          span.links
            a(href='https://gitlab.com/paul-nechifor/pp2p' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/pp2p')
          img(src='/projects/screenshots/pp2p.thumb.png' alt='PP2P screenshot')
        p Filesharing in C++ similar to Direct Connect.
      .project
        h3
          | PN Stat
          span.links
            a(href='https://gitlab.com/paul-nechifor/pnstat' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/pnstat')
          img(src='/projects/screenshots/pnstat.thumb.png' alt='PN Stat screenshot')
        p Linux monitoring and logging daemon.
      .project
        h3
          | Romsun
          span.links
            a(href='https://gitlab.com/paul-nechifor/romsun' title='GitHub repository')
              i.si-github
        a(href='https://gitlab.com/paul-nechifor/romsun')
          img(src='/projects/screenshots/romsun.thumb.png' alt='Romsun screenshot')
        p Romanian text to phoneme converter for MBROLA.
    .buttons.clear
      // pa#show-projects-btn.btn.primary Show more projects
      p
        a.btn(href='https://gitlab.com/paul-nechifor') View all my repos
  section#s-interests
    a#interests.internal
    h2 Interests
    .container
      p
        | Things I&rsquo;ve done in the past and liked and would be interested in exploring further. If you&rsquo;re interested in something similar (big co and startup alike) go ahead and contact me.
      ul
        li
          strong Network communication protocols
        li
          strong 3D graphics on the web
          | : use of WebGL for extending the possibilities of meaningful web communication (not gimmicky stuff) like mapping, analysis tools, more immersive previews than simple photos.
        li
          strong Digital publishing with good typography
          | : publication of content that builds and improves on classic typography. Much of current publishing is subpar to dead tree typography.
        li
          strong Natural language correction tools
          | : practical (web?) NLP tools that correct text beyond simple spell checkers.
        li
          strong Clear designs
          | : unobtrusive design that focuses on the content and its navigation and manipulation.
        li
          strong AI game algorithms
          | : From complex algorithms for simple pen and paper games to writing bots for complex games.
        li
          strong Programming languages
          | : I don&rsquo;t think enough languages exist. There is room for improvement especially in non-general purpose languages.
  section#s-contact
    a#contact.internal
    h2 Contact
    ul.contact-icons
      li
        a(href='mailto:paul@nechifor.net' title='email address')
          i.si-mail
      li
        a(href='https://gitlab.com/paul-nechifor' title='GitLab account')
          i.si-github
      li
        a(href='https://www.linkedin.com/in/paul-nechifor' title='LinkedIn profile')
          i.si-linkedin
      li
        a(href='http://facebook.com/paul.nechifor' title='Facebook account')
          i.si-facebook
    ul.lesser.contact-icons
      li
        a(href='skype:paul.r.nechifor?call' title='Skype account')
          i.si-skype
      li
        a(href='/oldest-instagram/' title='Instagram gallery')
          i.si-instagram
      li
        a(href='https://www.youtube.com/user/PaulNechifor' title='YouTube channel')
          i.si-youtube
      li
        a(href='https://twitter.com/' title='Twitter account')
          i.si-twitter
      li
        a(href='/blog' title='blog')
          i.si-doc-text-inv
      li
        a(href='http://stackoverflow.com/users/2872108/paul-nechifor' title='Stack Overflow account')
          i.si-stackoverflow
    .clear
  footer
    p &copy; 2013&ndash;2014 Paul Nechifor
  script(src='s/client.js')
