doctype html
html(lang='en')
  head
    title TorusCycle
    meta(charset='utf-8')
    style: :stylus(compress=true)
      html, body
        margin 0
        padding 0

      body
        overflow hidden
  body
    .initialMessage: :markdown-it
      You need to have JavaScript enabled and to use a web browser with support
      for WebGL and WebSockets.
    script(src='three.v56.min.js')
    script(src='bundle.js')
