doctype html
include ../base
html(lang='en')
  +page('502: Multilatex is down', 'Sorry, try again in a minute. It might restart succesfully.', '(ʃ⌣́,⌣́ƪ)')
    p Otherwise, try the <a href='https://gitlab.com/paul-nechifor/multilatex'>source code</a>. You can run it locally.
