doctype html
include ../../../../common/common.pug
html(lang='en')
  head
    +head-main(
      'Software Security Slides',
      'My presentations from the Software Security course.'
    )
    style: :stylus(compress=true)
      @require '../../../../common/common'
      page-width-600()

  body
    header: :markdown-it
      # [Software Security Slides](.)

      My presentations from the Software Security course.

      1. [Exploring C vulnerabilities with the Clang Static Analyzer][ss01]

      2. [Executable Code Injection][ss02]

      3. [Using OpenVAS][ss03]

      4. [Using Metasploit][ss04]

      Presentations 1, 2, and 3 were created in collaboration with Valentin Schipor.

      [ss01]: /clang-static-analyzer/
      [ss02]: /executable-code-injection/
      [ss03]: /using-openvas/
      [ss04]: /using-metasploit/

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/pages/pages/software-security-slides/index.pug')
