doctype html
include ../../../../common/common.pug
html(lang='en')
  head
    +head-main(
      'Jurfo',
      'Jurfo is a constructed script.'
    )
    style: :stylus(compress=true)
      @require '../../../../common/common'
      page-width-600()

      @font-face
        font-family 'Jurfo'
        src url(Jurfo.woff) format('woff'),
            url(Jurfo.ttf) format('truetype')
        font-weight normal
        font-style normal
      .blocks
        margin 0 auto
        max-width 1000px
      #jurfo-block, #english-block
        box-sizing border-box
        width 50%
      #jurfo-block
        float left
        font-family 'Jurfo'
        padding-right 0.5em
        text-transform lowercase
        word-spacing 2px
        font-size 1.6em
      #english-block
        float right
        padding-left 0.5em
        word-spacing 2px
        font-size 1.3em
      footer
        clear both
      @media (max-width: 600px)
        #jurfo-block, #english-block
          font-size 1.2em
        #jurfo-block
          word-spacing 5px
        #english-block
          letter-spacing 0
          word-spacing 0

  body
    header: :markdown-it
      # [Jurfo](.)

      This is a [constructed script][conscript], created by segmeting features
      from the Latin, Cyrillic and Greek alphabets and joining them back in
      different ways.

      Also see my other [conscripts](/conscripts).

      The text below is editable, so you can **select and change it**.

      [conscript]: http://en.wikipedia.org/wiki/Constructed_script

    // googleoff: all
    .blocks
      #jurfo-block(contenteditable): :markdown-it
        Alice was beginning to get very tired of sitting by her sister on the
        bank and of having nothing to do once or twice she had peeped into the
        book her sister was reading but it had no pictures or conversations in
        it and what is the use of a book thought Alice without pictures or
        conversation
      #english-block(contenteditable): :markdown-it
        Alice was beginning to get very tired of sitting by her sister on the
        bank and of having nothing to do once or twice she had peeped into the
        book her sister was reading but it had no pictures or conversations in
        it and what is the use of a book thought Alice without pictures or
        conversation
    // googleon: all

    script!= js

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/pages/pages/jurfo/index.pug')
