doctype html
include ../../../../common/common.pug
html(lang='en')
  head
    +head-main(
      'Website Map',
      'A visual map of all the pages on my website.'
    )
    style: :stylus(compress=true)
      @require '../../../../common/common'
      body
        margin 0
      header
        display flex
        flex-wrap wrap
        align-items center
      h1, .links
        margin 0 0.5rem
      h1
        font-size 1.5rem
      .links
        a
          font-size 1rem
      .overlay
        position relative
        a
          display block
          position absolute
          z-index 1000
          &:hover
            background #0000ff40

  body
    header
      h1: a(href=".") Website Map
      .links
        +simple-footer-links('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/pages/pages/website-map/index.pug')

    map(name="map")
      each area in areas
        area(shape="rect", coords=area.coords.join(","), href=area.href)

    .overlay

    img(src="map.jpg", usemap='#map')

    script: :uglify-js
      const overlay = document.querySelector('.overlay');
      document.querySelectorAll('area').forEach(function (area) {
        const p = area.getAttribute('coords').split(",").map(Number);
        const a = document.createElement('a');
        a.style.left = p[0] + 'px';
        a.style.top = p[1] + 'px';
        a.style.width = (p[2] - p[0]) + 'px';
        a.style.height = (p[3] - p[1]) + 'px';
        a.setAttribute('href', area.getAttribute('href'));
        overlay.appendChild(a);
      });
