@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,300,400,700,800&subset=latin,latin-ext')

transition-mixin()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments

body
  background #FFF

::selection
  color white
  background rgba(79, 64, 28, 0.99)
  text-shadow none

.reveal
  font-family "Open Sans", sans-serif
  font-size 30px
  font-weight 400
  letter-spacing -0.02em
  color #000
  a
    &:not(.image)
      color #A2650B
      text-decoration none
      transition-mixin color .15s ease
    &:not(.image):hover
      color #c0a86e
      text-shadow none
      border none
    &:hover
      img
        background rgba(255, 255, 255, 0.2)
        border-color #8b743d
        box-shadow 0 0 20px rgba(0, 0, 0, 0.55)
  .roll
    span
      &:after
        color #fff
        background #564826
  section
    img
      margin 15px 0px
      transition-mixin all .2s linear
  controlsColor = #ccc
  .controls
    div.navigate-left, div.navigate-left.enabled
      border-right-color controlsColor
    div.navigate-right, div.navigate-right.enabled
      border-left-color controlsColor
    div.navigate-up, div.navigate-up.enabled
      display none
    div.navigate-down, div.navigate-down.enabled
      display none
  ul
    margin-left 1.5em
  .progress
    background rgba(0, 0, 0, 0.2)
    span
      background #8b743d
      transition-mixin width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985)
  pre
    font-size 0.8em
    &.small-pre
      font-size 0.6em
    box-shadow none
    width 95%
    code
      padding 10px
      background #F8FAE1
      display block
      max-height none
      line-height 1.1
      &.big-pre
        font-size 32px
    &.inline
      width auto
      display inline
      code
        display inline
        vertical-align 0
  table
    margin 10px auto
  h1, h2, h3, h4, h5, h6
    margin 0 0 20px 0
    color #000
    font-weight 300
    line-height 0.9em
    text-transform none
    text-shadow none
  .inverse
    h1, h2, h3, h4, h5, h6
      color #fff
  .title.negative
    h1, h2, h3, h4, h5, h6
      background-color rgba(0, 0, 0, 0.7)
      padding 0.3em
  p, li, td
    font-size 40px
    line-height 50px
  li
    margin-bottom 20px
  h2
    font-size 80px
    padding-bottom 10px
  .title
    h1
      font-size 110px
      line-height 1
      margin-bottom 10px
    h2
      font-size 50px
    h2.author
      margin-top 30px
    h1, h2
      letter-spacing -1px
      background-color rgba(0, 0, 0, 0.12)
      display inline-block
      padding 0.1em
    .logos
      img
        width 100px
        margin-right 330px
        &:last-child
          margin-right 0
  .dark-inverse
    h1, h2
      background-color rgba(0, 0, 0, 0.32)
  .main-links
    font-size 15px
    margin-top 40px
    clear both
    color #fff
    a
      color #fff
  .sub-info
    margin-top 30px
    .left
      float left
    .right
      float right
  .title.inverse
    .sub-info
      color #fff
      a
        color #fff
  .plot
    height 800px
    max-width none
    max-height none
    margin -40px 0 0 0
  .img-classif
    padding 0 5px
    width 240px
  .img-classif-small
    padding 0 5px
    width 200px
  .block-table
    list-style none
    margin 0
    li
      padding 0.25em 0.4em
      margin 0.5em 0
      color #fff
      text-align center
      background #666
    &.blue li
      background #544DF5
    &.red li
      background #DD4A4A
    &.green li
      background #64AC49
  table.block-table
    border-spacing 10px
    margin 0 auto
    td
      padding 0.25em 0.4em
      margin 0.5em 0
      color #fff
      text-align center
      background #666
      width 50%
    &.blue td
      background #544DF5
    &.red td
      background #DD4A4A
    &.green td
      background #64AC49
      
.print-pdf .reveal
  .title h1
    font-size 140px
  pre code.big-pre
    font-size 25px

// Highlight.js theme. Based on the GitHub theme.
code
  .comment,
  .template_comment,
  .diff .header,
  .javadoc
    color #998
    font-style italic
  .keyword,
  .css .rule .keyword,
  .winutils,
  .javascript .title,
  .nginx .title,
  .subst,
  .request,
  .status
    color #333
    font-weight bold
  .number,
  .hexcolor,
  .ruby .constant
    color #099
  .string,
  .tag .value,
  .phpdoc,
  .tex .formula
    color #d14
  .title,
  .id,
  .coffeescript .params,
  .scss .preprocessor
    color #900
    font-weight bold
  .javascript .title,
  .lisp .title,
  .clojure .title,
  .subst
    font-weight normal
  .class .title,
  .haskell .type,
  .vhdl .literal,
  .tex .command
    color #458
    font-weight bold
  .tag,
  .tag .title,
  .rules .property,
  .django .tag .keyword
    color #000080
    font-weight normal
  .attribute,
  .variable,
  .lisp .body
    color #008080
  .regexp
    color #009926
  .symbol,
  .ruby .symbol .string,
  .lisp .keyword,
  .tex .special,
  .prompt
    color #990073
  .built_in,
  .lisp .title,
  .clojure .built_in
    color #0086b3
  .preprocessor,
  .pragma,
  .pi,
  .doctype,
  .shebang,
  .cdata
    color #999
    font-weight bold
  .deletion
    background #fdd
  .addition
    background #dfd
  .diff .change
      background #0086b3
  .chunk
    color #aaa
