doctype html
include ../../common/common.pug
html(lang='en')
  head
    +head-main(
      'Oldest Instagram Pictures',
      'The images from my oldest Instagram account.'
    )
    style: :stylus(compress=true)
      @require '../../common/common'
      page-width-600()
      body
        margin 0
      header, footer
        text-align center
      img
        width 100%
        height auto
        display block
        object-fit cover
      .image-group
        margin auto
        margin-top -40px
        max-width 1000px
        display grid
        grid-template-columns repeat(8, 1fr)
        grid-auto-rows 200px
        grid-gap 9px
        padding-bottom 50px
        &:first-child
          margin-top 0
      .hex
        display flex
        position relative
        width 240px
        height 265px
        -webkit-clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
        clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)

        &:first-child
          grid-row-start 1
          grid-column 2 / span 2
        &:nth-child(2)
          grid-row-start 1
          grid-column 4 / span 2
        &:nth-child(3)
          grid-row-start 1
          grid-column 6 / span 2
        &:nth-child(4)
          grid-row-start 2
          grid-column 1 / span 2
        &:nth-child(5)
          grid-row-start 2
          grid-column 3 / span 2
        &:nth-child(6)
          grid-row-start 2
          grid-column 5 / span 2
        &:nth-child(7)
          grid-row-start 2
          grid-column 7 / span 2

      @media (min-width: 1800px)
        .images
          padding-top 50px
        .image-group
          padding-left 100px
          max-width 1000px * 1.3
          grid-auto-rows 200px * 1.3

      @media (max-width: 1000px)
        .image-group
          max-width 1000px * 0.6
          grid-auto-rows 118px
        .hex
          width 240px * 0.6
          height 265px * 0.6

      @media (max-width: 600px)
        .image-group
          max-width 1000px * 0.4
          grid-auto-rows 76px
        .hex
          width 240px * 0.4
          height 265px * 0.4

      @media (max-width: 400px)
        .image-group
          max-width 1000px * 0.3
          grid-auto-rows 58px
        .hex
          width 240px * 0.3
          height 265px * 0.3
  body
    header: :markdown-it
      # [Oldest Instagram Pictures](/)

      These are the images from my oldest instagram account. It was deleted for
      inactivity. I then created a new one, which I later deleted, but [you can
      see it here](../old-instagram).

    .images
      each images in imageGroups
        .image-group
          each image, i in images
            a.hex(href="images/" + image + ".jpg")
              img(
                alt="Oldest Instagram Image " + (i + 1)
                src="images/" + image + ".thumb.jpg"
                loading=i < 12 ? null : "lazy"
              )

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/blob/master/projects/oldest-instagram/index.pug')
