body
  font-size 1.2rem
  line-height 1.4
  font-family: system-ui, Ubuntu, "Segoe UI", BlinkMacSystemFont, Roboto, sans-serif
  code, pre
    font-family: ui-monospace, "Ubuntu Mono", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", monospace;
a
  text-decoration none
  &:hover
    text-decoration underline

page-width-600()
  header, section, footer
    margin 0 auto
    max-width 600px
  footer
    padding-top 0.5rem
    small
      color #999
      a
        color #888
