mixin head-main(title, description)
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title=title
  meta(name='viewport', content='width=device-width,initial-scale=1')
  meta(name='description', content=description)
  link(rel='apple-touch-icon', href='/favicon152.png')

mixin simple-footer(source,lang)
  - var createdBy = lang === 'ro' ? 'Creat de' : 'Created by';
  footer
    p
      = createdBy + " "
      a(href="/") Paul Nechifor
      | .
    small
      +simple-footer-links(source,lang)

mixin simple-footer-links(source,lang)
  - var home = lang === 'ro' ? 'Pagina principală' : 'Home';
  - var projects = lang === 'ro' ? 'Proiecte' : 'Projects';
  - var gitSource = lang === 'ro' ? 'Sursă Git' : 'Git source';
  a(href="/")= home
  = " • "
  a(href="/projects/")= projects
  if source
    = " • "
    a(href=source)= gitSource
