doctype html
include ../../../../common/common.pug
html(lang='en')
  head
    +head-main(
      'Scriere fonetică',
      'Forme alternative de a scrie limba română.'
    )
    style: :stylus(compress=true)
      @require '../../../../common/common'
      page-width-600()

  body
    header: :markdown-it
      # [Scriere fonetică](.)

      Niște alternative pentru scrierea fonetică a limbii română.

      șerpii după vijelii caută ia în casa Ioanei și-și 

    // googleoff: all
    .root
    // googleon: all

    script!= js

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/pages/pages/scriere-fonetică/index.pug')
