doctype html
include ../../common/common.pug
html(lang='en')
  head
    +head-main(
      'Papers',
      'Generate funny computer science paper titles using Markov chains.'
    )
    style: :stylus(compress=true)
      @require '../../common/common'
      page-width-600()

  body
    header: :markdown-it
      # [Papers](.)

      Generate funny computer science paper titles using Markov chains.

      This was mainly written because I was interested in how to store Markov
      chains in a compact manner. See the resulting [markov-pack package][mp].

      [mp]: https://gitlab.com/paul-nechifor/markov-pack

    section
      p: button#load(type='button') Load Data
      #controls(style='display: none')
        p: button#generate(type='button') Generate New

      // googleoff: all
      #titles
      // googleon: all

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/blob/master/projects/papers/index.pug')

    script !{js}
