doctype html
include ../../common/common.pug
html(lang='ro')
  head
    +head-main(
      'Cărți SIBF',
      'Câteva cărți în formatul SIBF precum „Moara cu noroc“ și „Moromeții“.'
    )

    style: :stylus(compress=true)
      @require '../../common/common'
      page-width-600()

  body
    header: :markdown-it
      # [Cărți SIBF](.)

      Câteva cărți în formatul SIBF.

      * [Moara cu noroc](moara_cu_noroc/) de Ioan Slavici
      * [Povești](povesti/) de Ion Creangă
      * [Moromeții](morometii/) de Marin Preda

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/sibf', 'ro')
