doctype html
include ../../common/common.pug
html(lang='en')
  head
    +head-main(
      'Paul Nechifor · Projects',
      'Paul Nechifor’s list of projects.'
    )
    style: :stylus(compress=true)
      @require '../../common/common'
      body
        margin 0
      h1, h2, footer
        text-align center
      .projects
        display flex
        flex-wrap wrap
        justify-content center
      .project
        width 360px
        margin 0 15px
        p
          margin-top 0
        h3
          font-weight bold
          margin 0
        img
          width 100%
          height 180px
          display block
      @media (max-width: 420px)
        .project
          width 100%
          img
            height auto
          margin 0
          p, h3
            margin-left 15px
            margin-right 15px
  body
    .header: :markdown-it
      # [Paul Nechifor](/) · [Projects](.)
    each year in years
      h2= year.year
      .projects
        each p in year.projects
          .project
            h3= p.name
            a(href=p.url)
              img(
                src=screenshots[p.code].src,
                srcset=screenshots[p.code].srcset,
                alt=p.name + ' screenshot'
                loading=p.cummulativeIndex < 3 ? null : "lazy"
              )
            p= p.desc
    footer: p © 2006–#{currentYear} <a href='/'>Paul Nechifor</a>
