doctype html
html(lang='ro')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Horoscop
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='apple-touch-icon', href='/favicon152.png')
    style: :stylus(compress=true)
      *
        box-sizing border-box

      body
        font-family: system-ui, Ubuntu, "Segoe UI", BlinkMacSystemFont, Roboto, sans-serif
        line-height 1.4
        padding 0

      body, label
        font-size 16px

      body, li, h1, h2, h3
        line-height 1.4

      p, li, ul, ol
        margin-bottom 1em

      a
        text-decoration none
        &:hover
          text-decoration none
          border-bottom 1px solid #A4C1D3
          &.hide-link
            color #08c
        &.hide-link
          color #333

      h1, h2, h3, h4, h5, h6
        font-weight 300
        margin 0

      h1, .center
        text-align center
      h1
        font-size 56px
        a
          color #333
          &:hover
            text-decoration none
            border 0
            color #08c

      header
        margin 0 0 25px 0

      .footer
        font-size 16px
        margin-top 45px
        padding 1em 0
        text-align center
        small
          color #999
          a
            color #888

      /* Devices with big screens. */
      @media only screen and (min-width: 768px)
        header, .readable, .footer
          width 600px
          margin-left auto
          margin-right auto

      /* Devices with medium screens */
      @media only screen and (min-width: 480px) and (max-width: 767px)
        header, .readable, .footer
          max-width 600px
          padding 0 10px
          margin-left auto
          margin-right auto

      /* Devices with small screens */
      @media only screen and (max-width: 479px)
        header, .readable, .footer
          padding 0 8px

        body, label
          font-size 14px
        h1
          font-size 36px
        h2
          font-size 29px
        h3
          font-size 22px

        header
          margin 0 0 5px 0
        .footer
          font-size 14px
      #date-controls
        position relative
        margin-bottom 20px
        .prev, .next
          position absolute
          top 6px
        .prev
          left 0
        .next
          right 0
        .curr
          text-align center
        a:hover
          border-bottom 0
      #render-text
        display table
        width 100%
        .sign
          display table-row
        .bubble, .text
          display table-cell
          padding-top 20px
          padding-bottom 20px
        .bubble
          width 120px
          vertical-align middle
          cursor default
        a.bubble-inner
          display block
          color #333
          background-color #eee
          height 100px
          border-radius 50px
          .bottom
            font-size 15px
            color #555
          &:hover
            background-color #82a8c7
            &, .bottom
              color #fff
          &, .top, .bottom
            display block
            width 100px
          text-align center
          &:hover
            border 0
          .top
            font-size 50px
            height 60px

  body
    header
      h1
        a(href='.') Horoscop
      p.center 100&nbsp;% mai real decît orice alt horoscop. Poți să vezi vezi și în <a href="#3050-07-01">viitorul îndepărtat</a>.

    // googleoff: all
    .readable
      #date-controls
        h3.prev: a
        h3.next: a
        h2.curr: a
      #render-text
    // googleon: all

    .footer
      :markdown-it
        Creat de [Paul Nechifor](/). [Vezi sursa Git.](https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/horoscop)

      small: :markdown-it
        [Prima pagină](/) • [Proiecte](/projects/)

    script(src='jquery-1.10.2.min.js')
    script !{js}
