@import "./common";

.gate {
  stroke: black;
  stroke-width: 2;
  fill: white;
  stroke-linecap: square;
}

.unfilledGate {
  fill: none;
}

.component.powered .gate {
  fill: $poweredInnerColor;
  stroke: $poweredColor;
}

.component.selected .gate {
  fill: $selectedInnerColor;
  stroke: $selectedColor;
}

.component:hover .gate {
  fill: $hoverInnerColor;
  stroke: $hoverColor;
}

.component:hover .gate.unfilledGate {
  fill: none;
}

.gateWire {
  stroke: black;
  stroke-width: 1;
  stroke-linecap: square;
}

.gateWire.powered {
  stroke: $poweredColor;
}
.component.selected .gateWire {
  stroke: $selectedColor;
}
