@import "./common";

.line {
  stroke-width: 1;
  stroke: black;
}

.lineEnd {
  fill: black;
}

.lineParent.powered .line {
  stroke: $poweredColor;
}
.lineParent.powered .lineEnd {
  fill: $poweredColor;
}

.lineParent.selected .line {
  stroke: $selectedColor;
}
.lineParent.selected .lineEnd {
  fill: $selectedColor;
}

.lineParent .lineEnd:hover {
  r: 2;
  stroke-width: 1;
  fill: $hoverColor;
  stroke: $hoverColor;
}

.lineParent .line:hover {
  stroke: $hoverColor;
  stroke-width: 1.4;
}
