doctype html
include ../../../common/common.pug
html(lang='en')
  head
    +head-main(
      'Graffiti',
      'Draw what you want here with WebSockets.'
    )
    style: :stylus(compress=true)
      @require '../../../common/common'
      body
        font-size 1rem
        background #e6e4d4
        margin 0
        height 100vh
        display flex
        flex-direction column
        justify-content space-between
        text-align center
        align-items center
      canvas
        background #fff
        display block
      .palette
        width 1000px
        display flex
      .color
        height 15px
        flex-grow 1
      header
        color #5C486A
      footer
        padding-bottom 10px
        color #4e6679
        a
          color #621748
        small
          a
            color #5c486a
  body
    - var palette = ['#000000', '#FFFFFF', '#89D9D9', '#72B6CF', '#5C8BA8', '#4E6679', '#464969', '#44355D', '#3D003D', '#621748', '#942C4B', '#C7424F', '#E06B51', '#F2A561', '#FCEF8D', '#B1D480', '#80B878', '#658D78', '#7B334C', '#A14D55', '#C77369', '#E3A084', '#F2CB9B', '#D37B86', '#AF5D8B', '#804085', '#5B3374', '#412051', '#5C486A', '#887D8D', '#B8B4B2', '#DCDAC9', '#FFFFE0', '#B6F5DB'];
    header
      p Draw with WebSockets (open a second tab).
    .frame
      .palette
        each color in palette
          .color(style="background:" + color, data-color=color)
      canvas(width="1000", height="1000")
    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/blob/master/projects/graffiti/client/index.pug')
    script(src="index.js")
