body {
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: system-ui, Ubuntu, "Segoe UI", BlinkMacSystemFont, Roboto,
    sans-serif;
  margin: 0;
  background: #eee;
}

header {
  margin: 0 auto;
  background: white;
  padding: 1rem 0;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

h1 a {
  color: black;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 50px;
}

footer small {
  color: #999;
}

footer small a {
  color: #888;
}

.kaomojiList {
  max-width: 1200px;
  margin: 0 auto;
  text-align: justify;
}

.kaomoji {
  padding: 2px 4px;
  background: #fff;
  border-radius: 5px;
  margin: 3px 5px;
  display: inline-block;
}

.loadMoreButtonHolder {
  margin-top: 10px;
  text-align: center;
}

.loadMoreButtonHolder button {
  font-size: 1.2rem;
}

.searchBarHolder {
  text-align: center;
  margin: 10px auto;
  max-width: 600px;
}

.searchBar {
  font-size: 1.2rem;
  width: 100%;
}

.chars {
  max-width: 1200px;
  margin: 0 auto;
}

.char {
  padding: 1px 2px;
  background: #b3e8f0;
  border-radius: 5px;
  margin: 3px 5px;
  display: inline-block;
}
