.tabSet {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #aaa;
  margin-bottom: 3px;
  background: white;
}

.tab {
  background: #f9f9f9;
  padding: 3px 10px;
  margin: 0 4px -1px;
  cursor: pointer;
}

.tab,
.tabSet {
  border-bottom: 1px solid #aaa;
  border-radius: 7px 7px 0 0;
}

.tab.tabActive {
  background: #eee;
  border: 1px solid #aaa;
  border-width: 1px 1px 0;
}
