doctype html
include ../../../../common/common.pug
html(lang='en')
  head
    +head-main(
      'Tinutok',
      'A constructed script which is a continuous line.'
    )
    style: :stylus(compress=true)
      @require '../../../../common/common'
      page-width-600()

      .svgs
        display flex
        flex-wrap wrap
        max-width 600px
        margin 0 auto
      .char
        display flex
        padding 0 20px
        line-height 1
        svg
          display block
      .eng
        font-size 1.5rem
        margin-right 8px
      .eng, .tin
        align-self center
      .tin, .tin svg
        width 50px
      .quote svg
        width 100%
      label
        font-size 1rem
      .inputFields
        width 600px
        max-width 100%
        margin 0 auto
        flex-wrap wrap
        display flex
      .field
        width 200px
        display flex
        margin-bottom 5px
        label
          margin 0 10px
          flex-shrink 0
        input
          width 100%
      .inputOutput
        display flex
        flex-direction column
        align-items center
      textarea
        box-sizing border-box
        width 600px
        max-width 100%

  body
    header: :markdown-it
      # [Tinutok](.)

      This is a font I started in 2012. It’s inspired by [Fontok][1], which
      itself is inspired by Chinese caligraphy and Mongolian. What’s different
      is that I wanted to create text using a single unbroken line.

      [1]: http://skyknowledge.com/fontok.htm

      It’s a top down font, which isn’t easily supported by most platforms so I
      built a custom renderer. Intially it was in Java but I’ve since switched
      to JavaScript so it can be easily included on the web.

      Also see my other [conscripts](/conscripts).

      ## Sample

    section.quote
      != quote

    header
      p Translation:
      blockquote: p= config.quote

    section
      h2 Alphabet

    .svgs
      each s in svgs
        .char
          .eng= s.letter
          .tin
            != s.svg

    #root
    script!= js

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/pages/pages/tinutok/index.pug')
