@require '../../../common/common'

body
  margin 0
header, footer, .description
  margin 0 auto
  max-width 800px
  padding 0 10px
  clear both
header, footer
  text-align center
header
  p
    margin 10px
footer
  padding-top 0.5em
  small
    color #999
    a
      color #888
.images
  spacing = 10px
  display flex
  flex-wrap wrap
  padding 0 spacing
  justify-content center
  align-items center
  img
    display block
    width 400px
    height 400px
    max-width calc(100vw - 32px)
    max-height calc(100vw - 32px)
    margin spacing
  &.hide-excess
    a:nth-child(n+31)
      display none
  .camera
    img
      margin-top 0
      margin-bottom 2px
    h3
      margin 0 spacing
    p
      margin 0 spacing 15px
      font-size 1rem

.load-rest-container
  text-align center

.load-rest
  font-size 1.3rem
  padding 0.5rem 0.7rem
  margin 1rem 0 2rem

a
  &.films
    color #e6b84c
  &.handmade
    color #8e5b3e
  &.cameras
    color #5e9c6d
  &.date
    color #3c719f
  &.technical
    color #7c4b8b
