mixin image-list(prefix, images)
  // This 60 is tied to the 31 below in the Stylus.
  - var maxImages = 30
  - var remaining = images.length - maxImages
  .images.hide-excess
    each image, i in images
      =' '
      a(href=prefix + image.name + "/")
        img(
          alt=image.alt
          title=image.title
          src=prefix + "images/" + image.name + ".thumb.jpg"
          loading=i < 3 ? null : "lazy"
        )
  if images.length > maxImages
    .load-rest-container
      button.load-rest
        strong Load the remaining #{remaining} image#{remaining > 1 ? 's' : ''}
    script: :uglify-js
      document.querySelector('.load-rest').addEventListener('click', function () {
        document.querySelector('.hide-excess').classList.remove('hide-excess');
        document.querySelector('.load-rest').remove();
      });
