doctype html

include ../../../common/common.pug
include common.pug

html(lang='en')
  head
    +head-main(
      image.title + ' ⏺ Paul Nechifor Photography',
      image.alt
    )
    style: :stylus(compress=true)
      @require 'common'
      h1
        font-size 1.2rem
        margin 0
      .full-image
        display block
        margin 0 auto
        max-height 90vh
        max-width 100%
      @media only screen and (min-width: 481px)
        .full-image
          margin 10px auto
          max-width calc(100% - 80px)
        h1
          margin-top 10px
        .canvas
          position relative
          line-height 1
        .prev, .next
          position absolute
          top 50%
          arrow-size = 30px
          font-size arrow-size
          a
            position relative
            top -(arrow-size / 2)
            color #aaa
            padding 0 5px
            &, &:hover
              text-decoration none
        .prev
          left 0
        .next
          right 0
      @media only screen and (max-width: 481px)
        .prev, .next
          padding 7px 15px
        .prev
          float left
        .next
          float right
        .canvas
          padding-bottom 20px
      .similar
        display flex
        justify-content space-between
        max-width 3 * (400px + 20px)
        margin 0 auto
        a
          flex 1
          margin 10px
          &:first-child
            margin-left 20px
          &:last-child
            margin-right 20px
          display flex
          justify-content center
          img
            max-width 100%
            height auto

  body
    header: h1: a(href=".")= image.title
    .canvas
      a(href="../images/" + image.name + ".jpg")
        img.full-image(alt=image.alt src="../images/" + image.name + ".jpg")

      if prev
        .prev
          a(href="../" + prev.name + "/") ◀
      if next
        .next
          a(href="../" + next.name + "/") ▶

    .description
      if image.htmlDescription
        != image.htmlDescription

      if isImageOfCamera
        if isCameraWithPictures
          p See <a href="../tags/#{image.name}/">pictures taken with this camera</a>. Or see <a href="../tags/my-cameras/">my other cameras</a>.
        else
          p This is one of the cameras for which I haven’t published any pictures yet. See <a href="../tags/my-cameras/">my other cameras</a>.

      p
        = 'Tags: '
        each tag in image.tags
          a(href="../tags/" + tag + "/", class=tagTypeForTag[tag]) ##{tag}
          = ' '

      if image.aiSimilar
        p Similar:
    if image.aiSimilar
      .similar
        each similar in image.aiSimilar
          a(href="../" + similar + "/")
            img(
              alt=similar
              src="../images/" + similar + ".thumb.jpg"
            )

    script document.addEventListener('keydown',function(e){!{prev?'e.key=="ArrowLeft"?location="../'+prev.name+'/":0;':''}!{next?'e.key=="ArrowRight"?location="../'+next.name+'/":0;':''}});

    footer
      :markdown-it
        See [other photos](..). Created by [Paul Nechifor](/).

      small
        +simple-footer-links('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/photography')
