doctype html

include ../../../common/common.pug
include common.pug

html(lang='en')
  head
    +head-main(
      'Paul Nechifor Photography',
      'I’m an software engineer who also dabbles in photography. These are my pictures.'
    )
    style: :stylus(compress=true)
      @require 'common'

  body
    header: :markdown-it
      # [Paul Nechifor](/) · [Photography](.)

      Hi! I’m an software engineer who also dabbles in photography. These are my
      pictures.

      You might want to see my photos [by each camera](tags/my-cameras/), [by
      film type](tags/my-films/), or [by tag](tags/).

      You can also checkout [my top photos](tags/top/) or see all of them in
      reverse cronological order below.

    +image-list('', images)

    footer
      :markdown-it
        Created by [Paul Nechifor](/).

      small
        +simple-footer-links('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/photography')
