doctype html

include ../../../common/common.pug
include common.pug

html(lang='en')
  head
    +head-main(
      tag + ' ⏺ Paul Nechifor Photography',
      'I’m an software engineer who also dabbles in photography. These are my pictures.'
    )
    style: :stylus(compress=true)
      @require 'common'
      h1
        font-size 1.6rem

  body
    header
      h1 Tag <a href="."><strong>##{tag}</strong></a> — <a href="/">Paul Nechifor</a> · <a href="../..">Photography</a>

    .description
      if tag == "my-cameras"
        :markdown-it
          These are the cameras I’ve taken pictures with. A few are diginal and
          the rest analog.

          Some of them were [designed by me](/3d/cameras/).

          You might also want to see [my list of film stocks](../my-films/).
      if tag == "my-films"
        :markdown-it
          These are the film stocks I've used. I've included other analog
          techniques such as wet plate and paper as well.

          You might also want to see [my list of cameras](../my-cameras/).
        each tag in allTags
          if myFilms.includes(tag.name)
            div
              a(href="../" + tag.name + "/") ##{tag.name}
              sup #{tag.count}

    if tag == "my-cameras"
      .images
        each image, i in images
          =' '
          .camera
            if image.cameraInfo
              h3= image.cameraInfo.title
            a(href="../../" + image.name + "/")
              img(
                alt=image.alt
                src="../../images/" + image.name + ".thumb.jpg"
                loading=i < 3 ? null : "lazy"
              )
            p
              if tags[image.name]
                a(href="../" + image.name + "/") #{tags[image.name].length} image#{tags[image.name].length === 1 ? "" : "s"}
              else
                = "no images"

              if image.cameraLinks
                each link in image.cameraLinks
                  = ' · '
                  a(href=link.url) camera info
    else
      +image-list('../../', images)

    footer
      if isACamera
        p
          | These pictures were taken with this
          |
          if thisCamera
            a(href="../../" + tag + "/") #{thisCamera.cameraInfo.title}
          else
            | ##{tag}
          |
          | camera. Also see <a href="../my-cameras/">my other cameras</a>.

      if isAFilm
        p These pictures were shot on <a href="./">##{tag}</a> film stock. Also see <a href="../my-films/">my other film stocks</a>.

      :markdown-it
        See other [photos](../../) or [tags](../../tags/). Created by [Paul Nechifor](/).

      small
        +simple-footer-links('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/photography')
