doctype html

include ../../../common/common.pug
include common.pug

html(lang='en')
  head
    +head-main(
      'Paul Nechifor Photography',
      'I’m an software engineer who also dabbles in photography. These are my pictures.'
    )
    style: :stylus(compress=true)
      @require 'common'
      .tags
        margin 0 15px
        columns 10em
        sup
          font-size 0.7rem
      @media only screen and (max-width: 481px)
        .tags
          margin 0 4px

  body
    header
      h1 <a href=".">Tags</a> — <a href="/">Paul Nechifor</a> · <a href="..">Photography</a>

    .tags
      each tag in tags
        if tag.tagType !== "handmade" || tag.count > 1
          div
            a(href=tag.name + "/", class=tag.tagType) ##{tag.name}
            if tag.count > 0
              sup #{tag.count}

    footer
      :markdown-it
        Created by [Paul Nechifor](/).

      small
        +simple-footer-links('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/photography')
