doctype html
include ../../common/common.pug
html(lang='en')
  head
    +head-main(
      'Phonetic English',
      'An alternative spelling system for English.'
    )
    style: :stylus(compress=true)
      @require '../../common/common'
      page-width-600()
      .in, .out
        width 45%
      .in
        float left
      .out
        float right

  body
    header: :markdown-it

      # [Phonetic English](.)

      Here I try to demonstrate an alternative spelling system for English.

      Since I’ve always found English spelling to be more complicated than it
      needs to be I’ve been looking for alernatives for a long time.

      Long story short: English has many sounds. Trying to create a phonetic
      spelling using latin letters means you have to have many letter groups. If
      you want 1 letter to 1 sound mappings, you have to use many diacritical
      marks. [Non-latin spellings][shavian] are even more impractical. All of
      this is ignoring the fact that English is too widespread to have a real
      chance at reforming its spelling.

      But I thought I’ll try to do one anyway.

      [shavian]: https://en.wikipedia.org/wiki/Shavian_alphabet

    // googleoff: all
    section
      h3 IPA
      #ipa-spelling
      div(style='clear:both')
      h3 Only using latin letters
      #default-spelling
      div(style='clear:both')
    // googleon: all

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/phonetic-english')

    script !{js}
