doctype html
include ../../common/common.pug
html(lang='en')
  head
    +head-main(
      'WebGL Demos',
      'My old WebGL demos.'
    )
  body
    script(src="../js/three.js")
    script(src="../js/OBJLoader.js")
    script !{js}
