doctype html
include ../../common/common.pug
html(lang='en')
  head
    +head-main(
      'WebGL Demos',
      'My old WebGL demos.'
    )
    style: :stylus(compress=true)
      @require '../../common/common'
      page-width-600()

  body
    header: :markdown-it
      # [WebGL Demos](.)

      Some old WebGL demos.

    section
      ul
        each demo in demos
          li: a(href=demo.code + "/")= demo.name

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/webgl-demos')
