doctype html
include ../../../../common/common.pug

html(lang='en')
  head
    +head-main(
      'Assembly Cheat Sheet',
      '...'
    )
    style: :stylus(compress=true)
      @require '../../../../common/common'
      page-width-600()
  body
    header: h1: a(href=".") Assembly Cheat Sheet

    section: :markdown-it
      2023-09-06

      ## x64 System V ABI

      Argument order: rdi, rsi, rdx, rcx, r8, r9

      Preserved registers: r12, r13, r14, r15, rbx, rsp, rbp

      ## Syscalls

      Syscall regsiters: syscall in rax, arguments: rdi rsi rdx r10 r8 r9.

      [Syscall codes and reference](https://blog.rchapman.org/posts/Linux_System_Call_Table_for_x86_64/)

      ## GDB

      GDB has very bad defaults. Improve them with this Python script:

          wget -P ~ https://git.io/.gdbinit
          pip install -U pygments

      Compile with debug info:

          yasm -f elf64 -a x86 main.asm -o main.o --dformat=dwarf2
          ld -dynamic-linker /lib64/ld-linux-x86-64.so.2 -lc main.o -o main

      Start the debugger:

          gdb ./main

      Set the breakpoint to some loop in `main.asm`:

          b label1

      Run the program:

          run
      
      If you want to pass in a file use:

          run < filename

      Or get the output from a command:

          run <(echo 1 2 3)

      ### Navigation commands

      Step to the next line:

          step # or s

      Step without going into function calls:

          next # or n

      Continue running until the current function returns:

          finish # or fin

      ### Print

      Print 64 bit value at address:

          x/g 0x00007fffffffdfd0

      Print 64 bit value at the address in a regiter:

          x/g $rax

    +simple-footer('https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/pages/pages/assembly-cheat-sheet/index.pug')
