doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Keygen Radio
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='Listen endlessly to keygen chiptunes in JS.')
    link(rel='apple-touch-icon', href='/favicon152.png')
    link(rel='stylesheet', href='css.css')
  body
    .top-background
      h1
        a(href='.') Keygen Radio

    .bottom-background
      .footer
        :markdown-it
          Created by [Paul Nechifor](/).

        small: :markdown-it
          [Home](/) • [Projects](/projects/) • [Git source](https://gitlab.com/paul-nechifor/nechifor-web/-/tree/master/projects/keygen-radio)

    // googleoff: all
    .player
      .song-name &nbsp;

      .controls
        .control.play Play
        .control.next(style="display:none") Next
        .control.pause(style="display:none") Pause
    // googleon: all

    script(src='js.js')
